<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Python - Lab 1

## Learning objectives

This lab demonstrates examples of:

1. Creating and manipulating lists
2. For loops
3. Importing modules and functions
4. Creating dictonaries

## Instructions:

1. Replace ??? with the appropriate code
2. Press Shift + Enter to execute cell

This is an example cell for text

In [1]:
# create a list of 10 students (use just first name)
students = ['alice','ben','cathy','dawn','emily','fern','emma','sean','felix','hugh']

In [2]:
# Print the list
print(students)

['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']

In [3]:
# print the list of students
# in the following format
# Index 01 	 Alice
# Index 02 	 Bob
# Index 03 	 Pradeep
for count, student in enumerate(students, start = 1):
    print(f'Index {count:02d} = {student}')

Index 01 = alice
Index 02 = ben
Index 03 = cathy
Index 04 = dawn
Index 05 = emily
Index 06 = fern
Index 07 = emma
Index 08 = sean
Index 09 = felix
Index 10 = hugh

In [4]:
# print the list of students in reverse order one student in a line with its index
# google search how to print list in reverse order
students.reverse()
for count, student in enumerate(students):
    print(f'Index {count:02d} = {student}')

Index 00 = hugh
Index 01 = felix
Index 02 = sean
Index 03 = emma
Index 04 = fern
Index 05 = emily
Index 06 = dawn
Index 07 = cathy
Index 08 = ben
Index 09 = alice

In [5]:
import random

In [9]:
# print the student list in random order
# hint look up the function random.sample
import random
res = random.sample(students, len(students))
print(res)

['sean', 'fern', 'felix', 'emma', 'hugh', 'ben', 'emily', 'cathy', 'dawn', 'alice']

In [6]:
# list students in decreasing order of their exam marks given their marks below
# hint: look up the 'sorted' function
marks = [87,45,76,64,66,90,55,73,69,75]
studentsAndMarks = dict(zip(students,marks))
print(f"Students and their marks: \n {studentsAndMarks}")
print(f"Students and their marks: \n {dict(sorted(studentsAndMarks.items(),key = lambda marks: marks[1]))}")

Students and their marks:
 {'hugh': 87, 'felix': 45, 'sean': 76, 'emma': 64, 'fern': 66, 'emily': 90, 'dawn': 55, 'cathy': 73, 'ben': 69, 'alice': 75}
Students and their marks:
 {'felix': 45, 'dawn': 55, 'emma': 64, 'fern': 66, 'ben': 69, 'cathy': 73, 'alice': 75, 'sean': 76, 'hugh': 87, 'emily': 90}